<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ COPYRIGHT Cplier 2024
  ~
  ~ The copyright to the computer program(s) herein is the property of
  ~ Cplier Inc. The programs may be used and/or copied only with written
  ~ permission from Cplier Inc. or in accordance with the terms and
  ~ conditions stipulated in the agreement/contract under which the
  ~ program(s) have been supplied.
  -->

<configuration scan="true" scanPeriod="60 seconds" debug="false">
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern> %-30(%yellow(%d{ISO8601}) %blue(%-45.45thread)) %highlight(%-5level) %cyan(%-25.25logger{5}) - %msg [%X] \(%class{25}.%method:%line\)%n </pattern>
    </encoder>
  </appender>
  <appender name="CapturingAppender" class="org.apache.pekko.actor.testkit.typed.internal.CapturingAppender"/>
  <logger name="org.apache.pekko.actor.testkit.typed.internal.CapturingAppenderDelegate">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="io.kaxis.RecordLayer" level="TRACE" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="ch.qos.logback" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="CapturingAppender"/>
  </root>
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>
